<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1)}">
      <a href ng-click="tab.setTab(1)"> Description</a>
    </li>
    <li ng-class="{ active:tab.isSet(2)}">
      <a href ng-click="tab.setTab(2)"> Specs</a>
    </li>
    <li ng-class="{ active:tab.isSet(3)}">
      <a href ng-click="tab.setTab(3)"> Reviews</a>
    </li>
    <li><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-headphones" aria-hidden="true">
  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
</button>
    </li>
  </ul>

  <!--  Description Tab's Content  -->
  <album-description ng-show="tab.isSet(1)" ></album-description>

  <!--  Spec Tab's Content  -->
  <div album-specs ng-show="tab.isSet(2)"></div>

  <!--  Review Tab's Content  -->
  <album-reviews ng-show="tab.isSet(3)"></album-reviews>

</section>
